.hero {
  height: calc(100vh - 90px);
  background-color: var(--secondary--light-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.content_container h2 {
  font-size: 52px;
  color: var(--dark-text);
  text-align: center;
  line-height: 62.93px;
  font-weight: 500;
}

.content_container hr {
  width: 100%;
  max-width: 160px;
  border-top: 3px solid var(--border-green);
  border-left: none;
  border-right: none;
}

.content_container p {
  line-height: 34.1px;
  font-size: 20px;
  text-align: center;
  color: var(--disabled-text);
}

.content_container button {
  display: none;
  font-size: 18px;
  width: 100%;
  height: 59px;
  color: var(--dark-text);
  background-color: var(--secondary-green);
  padding: 0 2rem;
}

.images_container {
  position: relative;
}

.small_plant {
  transform: translateX(150px);
}

.big_plant {
  transform: translateX(270px);
}

@media screen and (max-width: 875px) {
  .content_container h2,
  .content_container p {
    text-align: left;
  }

  .content_container button {
    display: block;
  }

  .small_plant {
    transform: translateX(0px);
  }

  .big_plant {
    transform: translateX(0px);
  }
}
