@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

/* :root {
  --light-background: #ffffff;
  --secondary--light-background: #f2f2f2;
  --tertiary--light-background: #f8f8f8;
  --dark-text: #000000;
  --disabled-text: #525252;
  --primary-green: #146841;
  --secondary-green: #c1ed7a;
  --border-green: #c1ed7a;
} */
