.navbar {
  width: 100%;
  height: 90px;
  background-color: var(--light-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_container {
  flex: 3;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.menu_item {
  font-size: 0.9rem;
  color: var(--disabled-text);
  text-decoration: none;
  font-weight: 500;
}

.selected {
  color: var(--primary-green);
  position: relative;
}

.selected::after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background-color: var(--secondary-green);
  position: absolute;
  bottom: -15px;
  left: 40%;
}

.actions_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_action {
  background-color: var(--secondary-green);
  padding: 1rem 2rem;
}

.mobile_container {
  flex: 1;
  display: none;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.mobile_icon {
  background-color: var(--primary-green);
  width: 1.7rem;
  height: 3px;
  margin-top: 5px;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .menu_container {
    gap: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .menu_container {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 875px) {
  .logo_container {
    justify-content: flex-start;
  }

  .menu_container {
    display: none;
  }

  .actions_container {
    display: none;
  }

  .mobile_container {
    display: flex;
  }
}
